<a href="https://colab.research.google.com/github/lauramsms/testrepo/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

** Exercise 2: Create markdown cell with title of the notebook **

#Data Science Tools and Ecosystem

** Exercise 3 - Create a markdown cell for an introduction**

In this notebook, Data Science Tools and Ecosystem are summarized.

** Exercise 10 - Insert a markdown cell to list Objectives**

**Objectives:**
1. Create a Jupyter Notebook

2. Insert code and markdown cells

3. Share your notebook through GitHub

** Exercise 4 - Create a markdown cell to list data science languages **

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C + +
7. Julia

** Exercise 5 - Create a markdown cell to list data science libraries**

1. Numpy
2. ggplot
3. pandas
4. caret
5. string

** Exercise 6 - Create a markdown cell with a table of Data Science tools **

| Data Science Tools |
| --------- |
| MySQL |
| MongoDB |
| Apache CouchDB |

** Exercise 7 - Create a markdown cell introducing arithmetic expression exampl**

### Below are a few examples of evaluating arithmetic expressions in Python
+ +
+ *
+ -

** Exercise 8 - Create a code cell to multiply and add numbers**

##### This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

** Exercise 9 - Create a code cell to convert minutes to hours **

##### This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

** Exercise 11 - Create a markdown cell to indicate the Author's name**

##Author

Laura Molero

** Exercise 12 - Share your notebook through GitHub**

![ 1-notebook.png]("C:\Users\Laura\OneDrive\Escritorio\1-notebook.jpg")