<a href="https://colab.research.google.com/github/lauramsms/testrepo/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
1. Create a Jupyter Notebook

2. Insert code and markdown cells

3. Share your notebook through GitHub

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C + +
7. Julia

| Data Science Tools |
| --------- |
| MySQL |
| MongoDB |
| Apache CouchDB |

### Below are a few examples of evaluating arithmetic expressions in Python
+ +
+ *
+ -

##### This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

##### This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

##Author

Laura Molero